doctype
html
  head
    title = Teste
    link(rel='stylesheet', href='/styles/style.css')
    link(rel='stylesheet', href='/styles/font-icons.css')
  body
    block content
    script(type='text/javascript', src='/lib/angular/angular.js')
    script(type='text/javascript', src='/lib/angular-route/angular-route.js')
    script(type='text/javascript', src='/js/doc-app.js')
    script(type='text/javascript', src='/js/doc-services.js')
    script(type='text/javascript', src='/js/controllers/user-ctrl.js')
    script(type='text/javascript', src='/js/doc-directives.js')
    script(type='text/javascript', src='/js/validation/validations.js')